*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0D1117;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
}

.logo{
    color:#00B140;
    font-size:30px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.btn-login{
    background:#00B140;
    padding:10px 18px;
    border-radius:25px;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
}

.btn-primary{
    display:inline-block;
    margin-top:40px;
    padding:18px 40px;
    background:#00B140;
    color:white;
    text-decoration:none;
    border-radius:40px;
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
    padding:70px;
}

.card{
    background:#161B22;
    border-radius:15px;
    padding:30px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
}.register-container{
    width:420px;
    margin:60px auto;
    background:#161B22;
    padding:40px;
    border-radius:15px;
}

.register-container h1{
    color:#00B140;
    text-align:center;
}

.register-container h2{
    text-align:center;
    margin-bottom:25px;
}

.register-container input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

.register-container button{
    width:100%;
    padding:14px;
    background:#00B140;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.register-container button:hover{
    background:#009933;
}